
.App {
  width: 100%;
  max-width: 900px;
  height: 95vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
 

}


.predict {
  padding-top: 1em;
  font-weight: bold;
  
}

.select-menu {
  padding-top: 2em;
  padding-left: 15em;
  padding-right: 15em;
}


.select-menu .par {
  padding-left: 0.5em;
  margin-bottom: -.9em;
}

.status {
  padding-top: 1em;
  padding-left: 2em;
}


.analysis {
  padding-top: 2em;
  color: #494d4f;
  font-weight: bold;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}


.line-diagram {
  height: 70%;
  width: 70%;
  padding-top: 2em;
  padding-left: 2em;
  margin-left: 8em;
  padding-bottom: 2em;
}

.pie-diagram {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 17em;
  height: 33%;
  width: 33%;
}

.container {
  display: flex;
  padding-left: -2em;

}

.home {
    flex: 1;
    padding-right: 2em;
}  

.away {
    flex: 1;
} 


.analysis-1 {
  padding-top: 1em;
  color: #00aba9;
  font-weight: normal;
}





.link {
  color: #5a5e63;
}


.pie-diagram-predict {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 15em;
  height: 40%;
  width: 40%;
}

.spinner {
  padding-top: 25em;
}

.carousel {
  position: fixed;
  padding-bottom: 2em;
  background-color: #e3e5e6;
  margin-left: 1em;
  margin-right: 1em;
}

@media only screen and (max-width: 768px){
  .App {
    width: 100%;
    max-width: 900px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--color-white);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
   
  
  }
  
  
  .predict {
    padding-top: 1em;
    font-weight: bold;
    
  }
  
  .select-menu {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  
  .select-menu .par {
    padding-left: 0.5em;
    margin-bottom: -.9em;
  }
  
  .status {
    padding-top: 1em;
    padding-left: 1em;
  }
  
  
  .analysis {
    padding-top: 2em;
    color: #494d4f;
    font-weight: bold;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    background-color: var(--color-lighter);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  
  .line-diagram {
    height: 90%;
    width: 90%;
    padding-top: 2em;
    padding-left: 1em;
    margin-left: .6em;
    padding-bottom: 2.5em;
  }
  
  .pie-diagram {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 6em;
    height: 45%;
    width: 45%;
  }
  
  .container {
    display: flex;
    padding-left: -2em;
  
  }
  
  .home {
      flex: 1;
      padding-right: 2em;
  }  
  
  .away {
      flex: 1;
  } 
  
  
  .analysis-1 {
    padding-top: 1em;
    color: #00aba9;
    font-weight: normal;
  }
  

  

  .link {
    padding-top: 1em;
    color: #5a5e63;
  }
  
  
  .pie-diagram-predict {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 4em;
    height: 60%;
    width: 60%;
  }
  
  .spinner {
    padding-top: 25em;
  }
  
  .carousel {
    position: fixed;
    padding-bottom: 2em;
    background-color: #e3e5e6;
    margin-left: 1em;
    margin-right: 1em;
  }

}

.instrutions{
  margin-top: -2em;
}




