
.App {
  width: 100%;
  max-width: 900px;
  height: 150vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
 

}


.predict {
  padding-top: 1em;
  font-weight: bold;
  
}

.select-menu {
  padding-top: 2em;
  padding-left: 15em;
  padding-right: 15em;
}


.select-menu .par {
  padding-left: 0.5em;
  margin-bottom: -.9em;
}

.status {
  padding-top: 1em;
  padding-left: 2em;
}


.analysis {
  padding-top: 1em;
  color: #494d4f;
  font-weight: bold;
  padding-left: 2em;
}


.line-diagram {
  height: 70%;
  width: 70%;
  padding-top: 2em;
  padding-left: 2em;
  margin-left: 8em;
  padding-bottom: 2em;
}

.pie-diagram {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 19em;
  height: 40%;
  width: 40%;
}

.container {
  display: flex;
  padding-left: -2em;

}

.home {
    flex: 1;
    padding-right: 2em;
}  

.away {
    flex: 1;
} 


.analysis-1 {
  padding-top: 1em;
  color: #00aba9;
  font-weight: normal;
  padding-left: 2em;
}

#twitter {
  margin: auto;
  padding: 10px;
}

#head-to-head {
  margin: auto;
  padding: 10px;
}



.link {
  padding-top: 1em;
  color: #5a5e63;
}


.pie-diagram-predict {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-left: 15em;
  height: 40%;
  width: 40%;
}

.spinner {
  padding-top: 25em;
}




